.DS_Store

qlua_scripts/bash_output
qlua_scripts/logs
misc/.DS_Store
misc/.ipynb_checkpoints

pion_mass/logs
pion_mass/output
pion_mass/bash_output
pion_mass/old_scripts/old_logs
pion_mass/old_scripts/old_output
pion_mass/test_cfgs/logs
pion_mass/.ipynb_checkpoints
pion_mass/__pycache__

npr_momfrac/python_scripts/.DS_Store
npr_momfrac/logs
npr_momfrac/output
npr_momfrac/testing/logs
npr_momfrac/bash_output
npr_momfrac/testing/output
npr_momfrac/testing/bash_output
npr_momfrac/examples/logs
npr_momfrac/examples/meas
npr_momfrac/analysis_output
npr_momfrac/old_scripts/.DS_Store
npr_momfrac/python_scripts/.ipynb_checkpoints
npr_momfrac/python_scripts/__pycache__
npr_momfrac/old_scripts/.DS_Store

gf/scripts/bash_output
gf/logs
gf/testing

0nubb/bash_output
0nubb/logs
0nubb/.DS_Store
0nubb/python_scripts/__pycache__
0nubb/python_scripts/.ipynb_checkpoints
0nubb/python_scripts/tests/.ipynb_checkpoints
0nubb/python_scripts/tests/__pycache__
0nubb/chroma_scripts/bash_output
0nubb/tests/david_prop_inv/bash_output
0nubb/tests/david_prop_inv/logs
0nubb/tests/runtime_test/output
0nubb/tests/bash_output
0nubb/tests/runtime_test/logs
0nubb/grid
0nubb/python_scripts/will_chiextrap_code/.ipynb_checkpoints
0nubb/python_scripts/will_chiextrap_code/__pycache__

gq_mixing/bash_output
gq_mixing/logs
gq_mixing/.DS_Store
gq_mixing/.ipynb_checkpoints
gq_mixing/python_scripts/.ipynb_checkpoints
gq_mixing/python_scripts/__pycache__

chroma/bash_output
chroma/npr_tests/bash_output
chroma/poare_build_tests/bash_output
chroma/bc_test/bash_output
chroma/bc_test/output
chroma/bc_test/logs
chroma/configs
chroma/output
chroma/dwf_test_invert

spectral/recon_tools/.ipynb_checkpoints
spectral/recon_tools/__pycache__
spectral/spectral_functions.code-workspace

chiral/discrete_geom.code-workspace

2d_adjoint_qcd/python_scripts/.ipynb_checkpoints
2d_adjoint_qcd/python_scripts/__pycache__

utilities/__pycache__
